body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: Helvetica Neue, Helvetica, Arial;
  background-color: #5e9f62;
  color: #333;
}
body {
  overflow: hidden;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.board {
  height: 100%;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-right: 15px;
  box-sizing: border-box;
  overflow: auto;
}
.board .list-container {
  flex-shrink: 0;
  flex-grow: 0;
  height: 100%;
  box-sizing: border-box;
  padding: 15px;
  width: 270px;
}
.board .list-composer {
  padding: 15px;
  flex-shrink: 0;
  width: 250px;
}
.board .list-composer .inner {
  width: 210px;
  -webkit-transition: all 300ms;
  /* For Safari 3.1 to 6.0 */
  transition: all 300ms;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 15px;
  color: rgba(255, 255, 255, 0.6);
}
.board .list-composer .inner:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.8);
}
.board .list {
  -webkit-transition: all 300ms;
  /* For Safari 3.1 to 6.0 */
  transition: all 300ms;
  display: block;
  min-height: 120px;
}
.board .list.placeholder {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.board .list > .inner {
  cursor: pointer;
  border-radius: 5px;
  background-color: #e0e0e0;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
.board .list > .inner h3 {
  margin: 0;
  border-bottom: 1px solid #ccc;
  padding: 5px 15px;
  color: #666;
}
.board .list ul {
  overflow: auto;
  padding: 5px;
  padding-bottom: 0;
}
.board .list ul .card {
  -webkit-transition: all 300ms;
  /* For Safari 3.1 to 6.0 */
  transition: all 300ms;
  margin: 10px 0px;
}
.board .list ul .card.placeholder {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.board .list ul .card > .inner {
  cursor: pointer;
  padding: 10px;
  width: 210px;
  background-color: white;
  border: 1px solid #cc;
  border-radius: 5px;
  border-bottom: 1px solid #ccc;
}
.board .list .card-composer {
  flex-shrink: 0;
  width: 230px;
  height: 50px;
  box-sizing: border-box;
  margin: 0 5px;
  padding-bottom: 10px;
}
.board .list .card-composer textarea {
  padding: 10px;
  border: 0px;
  width: 230px;
  resize: vertical;
  background-color: white;
  border: 1px solid #cc;
  border-radius: 5px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  height: 100%;
  font-family: inherit;
  font-size: inherit;
}
.board .list .card-composer textarea:focus {
  outline: none;
}
.board .moving {
  position: absolute;
  -webkit-transform: rotate(2.5deg);
  -ms-transform: rotate(2.5deg);
  transform: rotate(2.5deg);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
